body{
    margin: 0;
}
.navbar{ /* layout.html */
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    background-color: #202565;
    top: 0;
    padding-top: 10px;
    z-index: 1;
}
.logo{ /* layout.html */
    width: 400px;
    height: 84px;
}
.placeholder-content{ /* in all html files, to prevent navbar from overlaying content */
    margin-top: 110px;
}
.members-grid{ /* members.html */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    place-items: center;
}
.index-image{ /* index.html */
    width: 100%;
    object-fit: cover;
}