.navbar{ /* layout.html */
    width: 100%;
    object-fit: cover;
    position: fixed;
    background-color: #202565;
    border-bottom: 8px solid white;
    top: 0;
    padding-top: 10px;
    z-index: 1;
    height: 71px;

    margin-left: -7.8px;
}
.navbar-grid{ /* layout.html */
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding-left: 30%;
    column-gap: 200px;
}
.navbar a { /* make links in the navbar look nice */
  color: white;
  text-decoration: underline 0.3rem rgba(255, 255, 255, 0);
  transition: text-decoration-color 200ms;
}
.navbar a:hover { /* make links in the navbar look nicer */
  text-decoration-color: rgba(255, 255, 255, 1);
}
@media only screen and (max-width: 1020px) { /* resize the links in the navbar when screen is too small for mobile support */
    .navbar a{
        font-size: 0.75em;
    }
}
@media only screen and (max-width: 872px) {
    .navbar a{
        font-size: 0.5em;
    }
}
@media only screen and (max-width: 724px) {
    .navbar a{
        font-size: 0.25em;
    }
}
.logo{ /* layout.html */
    width: 300px;
    height: 63px;
}
.container{ /* all files */
    padding: 10px;
}
main{ /* in all lower html files (so like not the front page), to prevent navbar from overlaying content */
    margin-top: 3em;

    font-size: 1.5vw;
}
main.front{ /* on the front page, to prevent navbar from overlaying content */
    margin: -7.8vw -7.8px -7.8px -7.8px; /* subtract the height of the welcome text */
}
.group-photo{ /* index.html */
    background-image: url('/assets/group-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    overflow: hidden;
    width: 100%;
    position: relative;

    padding-top: 75%; /* (img-height / img-width * container-width) round to nearest hundredth (3024/4032)x100=75*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-text{ /* index.html */
    color: white;
    position: absolute;
    font-size: 10vw; /* :) makes the font responsive */
    left: 5vw;
    top: 15vw;
}
.welcome-subtext{ /* index.html */
    color: white;
    position: absolute;
    font-size: 3vw; /* :) makes the font responsive */
    left: 10vw;
    top: 40vw;
}
.application-advertisement{ /* index.html */
  background-color: #202565;
  color: white;
  border: 8px solid white;
  top: 71px;
  position: absolute;
  width: 30vw;
  height: 20vw;
  right: 0;
  text-align: center;
  font-size: 3vw;
}
.scrollbanner{ /* index.html */
  position: absolute;
  right: -10vw;
  bottom: -30vw;
  width: 110vw;
}
.index-section1{
    background-color: white;
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index-img1{
    width: 40%;
}
.index-section1-text{
   width: 40%;
   padding-left: 10%;
}
.index-section2{
    background-color: black;
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index-img2{
    width: 40%;
    padding-left: 10%;
}
.index-section2-text{
   width: 40%;
   color: white;
   text-align: right;
}
.members-grid{ /* members.html */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    place-items: start center;
    
}
.members-grid-item{ /* members.html */
    padding: 10px;
    width: 50%; /* dont remove this I need this so the bios display correctly */
}
.members-grid-img{
    margin-right: 30px;
    float: left;

    object-fit: cover; /* make the images circular */
    border-radius: 50%;
}

/* stolen from bootstrap 3 lol */

  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  textarea.form-control {
    height: auto;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-primary {
    color: #ffffff;
    background-color: #202565;
    border-color: solid white;
  }

/* font; don't mess with this */
@font-face{font-family:'Arvo';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/arvo/v20/tDbD2oWUg0MKqScQ7Q.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
*{
  font-family: "Arvo", "Helvetica", "Arial", sans-serif;
}
